.rtf-theme {
  p {
    font-family: var(--fontFamily-body-fontFamily) !important;
    font-size: var(--fontSize-body-fontSize) !important;
    line-height: 1.5 !important;
    font-weight: var(--fontWeight-body-fontWeight) !important;
    text-transform: var(--textTransform-body-textTransform) !important;
  }
  li {
    font-family: var(--fontFamily-body-fontFamily) !important;
    font-size: var(--fontSize-body-fontSize) !important;
    line-height: 1.5 !important;
    font-weight: var(--fontWeight-body-fontWeight) !important;
    text-transform: var(--textTransform-body-textTransform) !important;
  }
  h1 {
    font-family: var(--fontFamily-h2-fontFamily) !important;
    font-size: var(--fontSize-h2-fontSize) !important;
    line-height: 1.2 !important;
    font-weight: var(--fontWeight-h2-fontWeight) !important;
    text-transform: var(--textTransform-h1-textTransform) !important;
    @media (min-width: 640px) {
      font-family: var(--fontFamily-h1-fontFamily) !important;
      font-size: var(--fontSize-h1-fontSize) !important;
      font-weight: var(--fontWeight-h1-fontWeight) !important;
    }
  }
  h2 {
    font-family: var(--fontFamily-h3-fontFamily) !important;
    font-size: var(--fontSize-h3-fontSize) !important;
    line-height: 1.2 !important;
    font-weight: var(--fontWeight-h3-fontWeight) !important;
    text-transform: var(--textTransform-h2-textTransform) !important;
    @media (min-width: 640px) {
      font-family: var(--fontFamily-h2-fontFamily) !important;
      font-size: var(--fontSize-h2-fontSize) !important;
      font-weight: var(--fontWeight-h2-fontWeight) !important;
    }
  }
  h3 {
    font-family: var(--fontFamily-h4-fontFamily) !important;
    font-size: var(--fontSize-h4-fontSize) !important;
    line-height: 1.2 !important;
    font-weight: var(--fontWeight-h4-fontWeight) !important;
    text-transform: var(--textTransform-h3-textTransform) !important;
    @media (min-width: 640px) {
      font-family: var(--fontFamily-h3-fontFamily) !important;
      font-size: var(--fontSize-h3-fontSize) !important;
      font-weight: var(--fontWeight-h3-fontWeight) !important;
    }
  }
  h4 {
    font-family: var(--fontFamily-h5-fontFamily) !important;
    font-size: var(--fontSize-h5-fontSize) !important;
    line-height: 1.2 !important;
    font-weight: var(--fontWeight-h5-fontWeight) !important;
    text-transform: var(--textTransform-h4-textTransform) !important;
    @media (min-width: 640px) {
      font-family: var(--fontFamily-h4-fontFamily) !important;
      font-size: var(--fontSize-h4-fontSize) !important;
      font-weight: var(--fontWeight-h4-fontWeight) !important;
    }
  }
  h5 {
    font-family: var(--fontFamily-h6-fontFamily) !important;
    font-size: var(--fontSize-h6-fontSize) !important;
    line-height: 1.2 !important;
    font-weight: var(--fontWeight-h6-fontWeight) !important;
    text-transform: var(--textTransform-h5-textTransform) !important;
    @media (min-width: 640px) {
      font-family: var(--fontFamily-h5-fontFamily) !important;
      font-size: var(--fontSize-h5-fontSize) !important;
      font-weight: var(--fontWeight-h5-fontWeight) !important;
    }
  }
  h6 {
    font-family: var(--fontFamily-h6-fontFamily) !important;
    font-size: var(--fontSize-h6-fontSize) !important;
    line-height: 1.2 !important;
    font-weight: var(--fontWeight-h6-fontWeight) !important;
    text-transform: var(--textTransform-h6-textTransform) !important;
  }
  a {
    font-family: var(--fontFamily-link-fontFamily) !important;
    font-size: var(--fontSize-link-fontSize) !important;
    font-weight: var(--fontWeight-link-fontWeight) !important;
    line-height: 1.5 !important;
    text-decoration: underline !important;
    color: hsl(
      from var(--colors-palette-primary) h s 20
    ) !important; /* palette-primary-dark */
    text-transform: var(--textTransform-link-textTransform) !important;
    letter-spacing: var(--letterSpacing-link-letterSpacing) !important;
  }
  a:hover {
    text-decoration: none !important;
  }
  strong {
    /* streams outputs strong tags wrapped in <b> tags which automatically apply font-weight: bolder  */
    font-weight: inherit !important;
  }
}

/* Set the body variants */
.rtf-body-sm p,
.rtf-body-sm li {
  font-size: calc(var(--fontSize-body-fontSize) - 2px) !important;
}

.rtf-body-lg p,
.rtf-body-lg li {
  font-size: calc(var(--fontSize-body-fontSize) + 2px) !important;
}

/* If the parent has a dark background, override text color to white. */
.rtf-dark-background h1,
.rtf-dark-background h2,
.rtf-dark-background h3,
.rtf-dark-background h4,
.rtf-dark-background h5,
.rtf-dark-background h6,
.rtf-dark-background p,
.rtf-dark-background li,
.rtf-dark-background a {
  color: white !important;
}
