@import "@measured/puck/no-external.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --puck-font-family:
    Inter, "SF Pro", "Helvetica Neue", Helvetica, sans-serif !important;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: -80px;

  .toggle-button {
    z-index: 2000;
    outline: black double 1px;
    background: #eeeeee;
    padding: 4px 40px;
    border-radius: 15px;
  }
}
