@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  .toggle-button {
    z-index: 2000;
  }
}