.ve-AccordionRoot {
  border-radius: 6px;
  font-family: var(--puck-font-family);
}

.ve-AccordionItem {
  overflow: hidden;
  margin-top: 1px;
  border-bottom: 1px solid var(--puck-color-grey-09);
}

.ve-AccordionItem:first-child {
  margin-top: 0;
}

.ve-AccordionItem:focus-within {
  position: relative;
  z-index: 1;
}

.ve-AccordionHeader {
  display: flex;
  font-weight: 600;
  color: var(--puck-color-grey-04);
  font-size: var(--puck-font-size-xxs);
}

.ve-AccordionHeader button {
  background-color: var(--puck-color-grey-12);
}

.ve-AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 16px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  color: black;
  background-color: white;
  cursor: pointer;
}

.ve-AccordionContent {
  overflow: hidden;
  background-color: var(--puck-color-grey-12);
}

.ve-AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.ve-AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.ve-ThemeCateogryResetButtons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
}

.ve-ThemeCateogryResetButtons button {
  background-color: white;
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 4px;
  font-size: var(--puck-font-size-xxxs);
  padding: 4px 8px;
  &:hover {
    background-color: var(--puck-color-azure-11);
  }
}

.ve-StylePropertiesList {
  font-weight: normal;
  color: var(--puck-color-black);
  font-size: var(--puck-font-size-xxxs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.ve-StylePropertiesList div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ve-StylePropertiesList input[type="number"] {
  transition: border-color 50ms ease-in;
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 4px;
  padding: 4px 8px;
  width: 9em;
}

.ve-StylePropertiesList input[type="number"] :focus {
  border-color: var(--puck-color-grey-05);
}

.ve-StylePropertiesList select {
  transition: border-color 50ms ease-in;
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 4px;
  padding: 4px 8px;
  width: 9em;
}

.ve-AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.ve-AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
