@config "./componentTests.tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto !important;
}

*,
*::before,
*::after {
  animation: none !important;
  caret-color: transparent !important;
  scroll-behavior: auto !important;
  transition: none !important;
}
